body {
    background-color: #222;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

#tracevia {
    width: 100% !important;
    height: 100% !important;
}